<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="softuvo.com.navigationdrawerbothsides">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.GroupInformationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.GroupMembersShowActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.PageInformationActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.PersonProfileActivity" />
        <activity android:name=".Activity.PollsInformationActivity" />
        <activity android:name=".Activity.PollResultsActivity" />
        <activity android:name=".Activity.QuizInformationActivity" />
        <activity android:name=".Activity.AddGroupActivity" />
        <activity android:name=".Activity.AddPagesActivity" />
        <activity android:name=".Activity.AddNewListing" />
        <activity android:name=".Activity.ListingDetailActivity" />
        <activity android:name=".Activity.ListingInformationActivity" />
        <activity android:name=".Activity.AddQuizActivity" />
        <activity android:name=".Activity.AddPollActivity" />
        <activity android:name=".Activity.ContactSellerActivity" />
        <activity android:name=".Activity.CheckInActivity" />
        <activity android:name=".Activity.UpdateStatusActivity"></activity>
    </application>

</manifest>